extends ../layouts/application.pug

block header
  = t('views.statuses.header')

block content
  a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.new.action')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td
            .d-flex.flex-row
              a.btn.btn-link(href=`/statuses/${status.id}/edit`)= t('views.statuses.edit')
              +buttonTo(`/statuses/${status.id}`, 'delete')(class='btn btn-link' value=t('views.statuses.delete'))