extends ../layouts/application.pug

block header
  = t('views.tasks.header')

block content
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.performer')
        th= t('views.tasks.createdAt')
    tbody
      each task in tasks
        tr
          td= task.id
          td= task.name
          td= task.status.name
          td= makeFullName(task.creator.firstName, task.creator.lastName)
          td= makeFullName(task.performer.firstName, task.performer.lastName)
          td= task.createdAt
