include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title= t('appName')
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100.bg-light
    .container
      header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
        a(class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" href=route('root'))= t('appName')
        ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
          li
            a(class="nav-link px-2 link-secondary" href=route('users'))= t('layouts.application.users')
          li
            a(class="nav-link px-2 link-secondary" href=route('statuses'))= t('layouts.application.statuses')
        div(class="col-md-3 text-end")
          if isAuthenticated()
            +buttonTo(route('session'), 'delete')(class="btn btn-outline-primary me-2" value=t('layouts.application.signOut'))
          else
            a(class="btn btn-outline-primary me-2" href=route('newSession'))= t('layouts.application.signIn')
            a(class="btn btn-primary" href=route('newUser'))= t('layouts.application.signUp')
    .container.wrapper.flex-grow-1

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
        block header
      block content

    footer
      .container.my-5.pt-4.border-top
        a(target="_blank" href="https://github.com/ivanlisin/backend-project-lvl4")= t('layouts.application.sourceCode')
